@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400&display=swap");

body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  background: #0a0a0a;
  color: #ccc;
  font-family: "Sora", sans-serif;
  font-size: 0.8em;
}

#left,
#right {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
}

#right {
  align-items: flex-end;
}

p {
  margin: 0;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input,
button {
  background-color: #ccc;
}

a {
  color: #ccc;
}
